# Ignore entire data folder
data/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore model files
*.pkl

# Ignore notebook checkpoints
.ipynb_checkpoints/

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
